@import 'fonts.css';

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; 
    color: #242424;
}

.btn{
    background-color: #F6A6BF; 
    border-radius: 100px; 
    font-weight: 400;
font-size: 16px;
line-height: 140%; 
color: #FFFFFF;
}
.wrapper{
    background: url('../images/cats.png') right 15% bottom 15%  no-repeat,
      url('../images/grass.svg') no-repeat bottom right ,
    url('../images/cloud-1.svg') left 38% top 1%  no-repeat,
    url('../images/cloud-2.svg') left 61% top 8%  no-repeat,
    url('../images/cloud-3.svg') left 70% top 5%  no-repeat,
    url('../images/leaf.svg') left  bottom   no-repeat,
    url('../images/cloud-4.svg') right  top 8%  no-repeat
    ;

}

.section{
    padding: 70px 0;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}
.title{
    
font-weight: 600;
font-size: 40px;
line-height: 49px;
}
.header {
width: 100%; 
}
.header__body {
padding: 30px 0;
display: flex;
justify-content: space-between;
align-items: center;
} 
.header__contact {
    display: flex; 
    align-items: center;
}
.header__item {
    position: relative;
    padding-left: 28px; 
    font-weight: 600;
font-size: 13px;
line-height: 100%; 
}

.header__item:not(:first-child){
    margin-left: 30px;
}

.header__item::before{
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
transform: translateY(-50%);
}

.header__item--location{
    max-width: 180px;
}

.header__item--location::before {
    height: 24px;
background: url('../images/location.svg') no-repeat center/ cover;
}
.header__item--time::before {
background: url('../images/clock.svg') no-repeat center/ cover;
}
.header__item--phone::before {
background: url('../images/phone.svg') no-repeat center/ cover;
}
.header__btn{ 
    padding: 19px 30px 19px 70px;  
position: relative;
margin-left: 50px;
}
.header__btn::before {
    position: absolute;
    content: "";
    top: 50%; 
    width: 20px;
    height: 20px;
transform: translateY(-50%);
    left: 30px;
background: url('../images/instagram.svg') no-repeat center/ cover;
} 

.hero{
    width: 100%; 
     height: calc(100vh - 125px);

} 
.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
    align-items: center;
}
.hero__inner { 
    display: flex;
}
.hero__img {
    position: relative;
}

.hero__img img{
    width: 380px;
    height: 380px;
}

.hero__img::after{
    content: "";
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 180px;
    height: 180px;
    background: url('../images/seal.svg') no-repeat center / cover;
}
.hero__content {
    margin-left: 32px;
    max-width: 590px;
}
.hero__title {
    font-weight: 600;
font-size: 48px;
line-height: 59px;
margin-bottom: 20px;
}
.hero__text {
    font-size: 18px;
line-height: 140%;
margin-bottom: 35px;
}
.hero__form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
} 

.hero__input{
    font-family: 'Montserrat', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 140%; 
    padding: 12px 4px;
    border: none;
    outline: none;
    border-bottom: 1px solid #242424;
    margin-bottom: 30px; 
}

.hero__input::placeholder{
    font-size: 16px;
line-height: 140%;
color: #848484;

}
.hero__btn {
    padding: 18px 26px;
}
.hero__list {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.hero__item {
    font-size: 16px;
line-height: 140%;
max-width: 260px;
padding-left: 65px;
position: relative;
}

.hero__item:first-child{
    max-width: 316px;
}

.hero__item:not(:first-child){
    margin-left: 67px;
}

.hero__item::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 45px;
    height: 45px;
    background: url('../images/heart.svg') no-repeat center / cover;
    transform: translateY(-50%);
}

.room{
    padding-top: 140px;
    position: relative;
}
.room::after{
    content: "";
    position: absolute;
    top: 60px;
    right: 30%;
    width: 280px;
    height: 200px;
    background: url('../images/border.svg'); 
}

.room__title{
margin-bottom: 110px;
}


.room__list{
display: flex;
justify-content: space-between;
}

.room__item{
    width: 32%;
    border: 1px solid #F6A6BF;
}

.room__content { 
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.room__content div{
    width: 47%;
}

.room__content div:not(:nth-child(-n+2)){
    margin-top: 20px;
}
 
.room__caption {
    font-weight: 600;
font-size: 20px;
line-height: 140%; 
color: #F6A6BF;
}
.room__price {
    font-weight: 500;
font-size: 20px;
line-height: 150%;
}
.room__name {
    color: #848484;
} 
.room__btn {
margin-top: 40px;
width: 100%;
padding: 21px 80px;
}

.swiper-img{
    width: 100%;
}

.swiper-button-next, .swiper-button-prev { 
    color: #fff;
}

.gallery__title{
    margin-bottom: 50px;
}

.gallery .swiper-wrapper{
    height: 535px;
}

.gallery .swiper-slide{
    height: 340px;
}

.gallery .swiper-slide img{
    height: 340px;
    object-fit: cover;
    transition: all 0.3s ease;
    width: 100%;
}


.gallery .swiper-slide-active {
    height: 100%; 
}
.gallery .swiper-slide-active img{
    height: 530px;
    object-fit: cover;
}
.gallery__navigation {
    position: absolute;
    bottom: 0;
    left: 35%;
}
.swiper-pagination {
    position: static;
    text-align: left; 
}
.swiper-next {
    background: #F6A6BF url('../images/arrow-next.svg') no-repeat center;

}
.swiper-prev {
    background: #F6A6BF url('../images/arrow-prev.svg') no-repeat center;
}
.gallery__btn{
display: inline-flex; 
width:  70px;
height: 70px; 
align-items: center;
justify-content: center;
border-radius: 50%;
cursor: pointer;
margin-top: 60px;
} 
.conditions__container {
    background: url('../images/conditions-item-1.svg') top  left  no-repeat,
    url('../images/conditions-item-2.svg') top 15% right  no-repeat,
    url('../images/conditions-item-2.svg') top 42%  right  no-repeat;
} 
.conditions__title {
    margin-bottom: 70px;
}
.conditions__row {
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #F6A6BF;
}

.conditions__row:last-child{
padding-bottom: 0;
}
.conditions__content {
    max-width: 450px;
    margin-right: 20px;
    align-self: flex-start;
}
.conditions__content .conditions__list{
    width: 100%;
}
.conditions__caption {
    font-weight: 600;
font-size: 26px;
line-height: 140%;
}
.conditions__caption+ p,ul{ 
    margin-top: 30px;
}
.conditions__text {
    font-size: 18px;
line-height: 140%;
}
.conditions__info{
    font-size: 18px;
line-height: 140%;
max-width: 50%;
}
.conditions__list {
    align-self: flex-end;
    width: 50%;
}
.conditions__item {
    padding-left: 20px;
    position: relative;
}

.conditions__item:not(:first-child){
    margin-top: 15px;
}
.conditions__item::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 10px;
    height: 10px;
    transform: translateY(-50%);
    background-color: #F6A6BF;
    border-radius: 50%;
}

.conditions__row--img{
    position: relative;
}

.conditions__row--img::after{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    z-index: -1;
    background: url('../images/important-cat.svg') no-repeat center/contain;
    transform: rotate(5deg);
}  
.cctv__title {
    margin-bottom: 70px;
} 
.cctv__inner{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: auto;
    counter-reset: count;
    gap: 55px 35px; 
}
.cctv__text {
    font-weight: 500;
font-size: 20px;
line-height: 150%;
max-width: 410px;
display: inline-block;
margin-right: 20px;
grid-column-start: 1;
    grid-column-end: 4;
} 
.cctv__link {
    counter-increment: count;
    position: relative;
    width: 140px;
    height: 140px;
    background: #FAF7F5; 
border-radius: 50%;
display: block;
}

.cctv__link:first-child{
    margin-left: auto;
}

.cctv__link::before{
    content: counter(count);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
font-size: 40px;
line-height: 49px;
color: #E36F96;
}
.cctv__link::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70px;
    height: 57px;
    background: url('../images/paw.svg') no-repeat center/cover;
}

.cctv__link:hover::after{
    transform: rotate(-30deg);
    transition: all 0.3s ease;
 } 
.about__inner {
    display: flex;
    justify-content: space-between;
}
.about__left {
    background: url('../images/about-cat.svg')no-repeat top 50% right/contain;
    max-width: 400px;
} 
.about__title {
    font-weight: 600;
font-size: 40px;
line-height: 49px;
min-height: 90px;
margin-bottom: 60px;
}
.about__subtitle {
    font-weight: 600;
font-size: 20px;
line-height: 140%; 
}
.about__right {
    max-width: 550px;
    margin-left: 20px;
}
.about__text {
margin-bottom: 60px;
    min-height: 90px;
    font-weight: 500;
font-size: 20px;
line-height: 150%;
}
.about__info {
    font-size: 16px;
line-height: 140%;
}
.about__caption {
    font-weight: 600;
font-size: 26px;
line-height: 140%;
margin-bottom: 68px;
margin-top: 120px;
}
.about__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: url('../images/about-paw.png')no-repeat top right/contain;
}
.about__item {
    padding-left: 70px;
    position: relative;
    font-size: 18px;
line-height: 140%;
width: 45%;
}
.about__item:not(:nth-child(-n+2)){
    margin-top: 40px;
}
.about__item::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 50px;
    height: 50px;
    transform: translateY(-50%);
    background: url("../images/cat.svg") no-repeat;
} 
.important__container{
    padding: 190px 0;
    background: #FFFEF1 ;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.important__content { 
    max-width: 475px;
}
.important__title {
    margin-bottom: 25px;
    font-weight: 600;
font-size: 26px;
line-height: 140%;
}
.important__text {
    font-size: 16px;
line-height: 140%;
} 
.fear__title{
    margin-bottom: 80px;
}  
.accordion__item {
    background: #FAF7F5;  

}
.accordion__item:not(:first-child){
    margin-top: 5px;
}
.accordion__trigger { 
    padding: 30px 50px 30px 30px;
    position: relative; 
    font-weight: 500;
font-size: 20px;
line-height: 150%; 

}
.accordion__trigger::after{
content: "";
position: absolute;
top: 50%;
right: 10px;
width: 30px;
height: 2px;
background: url('../images/minus.svg') no-repeat;
transform: translateY(-50%);
}
.accordion__content { 
    font-size: 16px;
line-height: 140%;
display: none;
transition: all 0.9s ease-in-out;
padding:0 30px 30px;

}
.accordion__item--active .accordion__content{
    display: block;
    transition: all 0.9s ease-in-out;
}
.accordion__item--active .accordion__trigger::after{ 
    height: 30px;
    background: url('../images/plus.svg') no-repeat; 
    }  
    .cooperation__container {
        display: flex;
        justify-content: space-between;
    }
    .cooperation__content {
        max-width: 490px;
        margin-right: 20px;
    } 
    .cooperation__title {
        margin-bottom: 70px;
    }
    .cooperation__subtitle {
        margin-bottom: 30px;
        font-weight: 600;
font-size: 20px;
line-height: 140%;
    }
    .cooperation__text {
        font-weight: 500;
font-size: 20px;
line-height: 150%;
    }
    .cooperation__list {
        display: flex; 
        flex-wrap: wrap;
        width: 520px; 
    }
    .cooperation__item {
        position: relative;
        width: 247px;
        height: 247px;
        border: 1px solid #F6A6BF;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 28px;
        text-align: center;
        border-radius: 50%;
    } 
    .cooperation__item::before{
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 190px;
        height: 155px;
        transform: translateY(-50%);
        background: url('../images/cooperation-paw.svg') center /cover no-repeat;
    }
    .cooperation__item:nth-child(-n+2){
        margin-bottom: 20px;
    }
    .cooperation__item:nth-child(odd){
        margin-right: 20px;
    }
    .address{
        background: #FAF7F5;

    }  
    .address__title {
        margin-bottom: 50px;
    }
    .address__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 48px;
    }
    .address__text {
        font-weight: 500;
font-size: 20px;
line-height: 150%;
    } 
    .address__btn {
        font-size: 18px;
line-height: 140%; 
color: #848484;
    }
    .address__map{
        height: 500px;
        margin-bottom: 70px;
    }
    .address__inner {
        display: flex;
        justify-content: space-between;
    }
    .address__subtitle {
        font-weight: 600;
font-size: 26px;
line-height: 140%;
margin-right: 100px;
    }
    .address__items {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
    }
    .address__item {
        max-width: 231px;
        font-size: 16px;
line-height: 140%;
    } 
    .footer{
        width: 100%;
        padding: 30px 0;
        text-align: center;
        font-weight: 500;
font-size: 14px;
line-height: 17px; 
color: #28AFC9;

    }
@media (max-width: 1399.98px) { 
    .wrapper{
        background: url('../images/cats.png') right 15% bottom 15%  no-repeat,
        url('../images/cloud-1.svg') left 38% top 1%  no-repeat,
        url('../images/cloud-2.svg') left 61% top 8%  no-repeat,
        url('../images/cloud-3.svg') left 70% top 5%  no-repeat,
        url('../images/cloud-4.svg') right  top 8%  no-repeat
        ;
    
    }
    .cctv__inner{
        column-gap: 30px;
    }
 }

@media (max-width: 1199.98px) {
    .header__body{
        flex-direction: column;
    }

    .header__contact{
        margin-top: 30px;
    }
    
    .header__item:not(:first-child){
        margin-left: 20px;
    }
    
    .hero{
        height: calc(100vh - 215px);
    }
    .room__item {
        width: 32.5%; 
    }
    .room__content {
        padding: 20px 10px; 
        font-size: 15px; 
    }
    .room__content div {
        width: 49%;
    }
    .cctv__inner{
        grid-template-columns: repeat(5, 1fr);
    }
    .cooperation__list{
       width: 460px;
    }
    .cooperation__item{
        width: 210px;
        height: 210px;
    }
    .cooperation__item:nth-child(odd) {
        margin-right: 15px;
    }
    
    .cooperation__item:nth-child(-n+2) {
        margin-bottom: 15px;
    }
  }

@media (max-width: 991.98px) { 
    .header__item:not(:first-child){
        margin-left: 17px;
    }

    .header__btn{
        margin-left: 17px;
    }
    .hero{
        height: 100%;
    }

    .hero__inner{
        margin-bottom: 20px;
    }

     .hero__content{
         max-width: 420px;
     }

     .hero__title { 
        font-size: 38px;
        line-height: 40px; 
    }

    .hero__img::after{
        display: none;
    }
    .wrapper{
        background:
        url('../images/cloud-3.svg') left 38% top 10%  no-repeat,
        url('../images/cloud-2.svg') left 61% top 16%  no-repeat,
        
        url('../images/cloud-1.svg') right 5%  top 20%  no-repeat
        ;
    
    }
    .room__list { 
        flex-wrap: wrap; 
    }
    .room__item {
        width: 49%; 
    }
    .room__content div:nth-child(even) { 
        text-align: right;
    }
    .room__item:not(:nth-child(-n+2)){
        margin-top: 40px;
    }
    .room::after { 
        display: none;
    }
    .title { 
        font-size: 35px;
        line-height: 30px;
    }
    .room__title {
        margin-bottom: 50px;
    }
    .conditions__row{
        flex-direction: column;
    }
    .conditions__list {
        align-self: baseline;
        width: 50%;
    }
    .conditions__caption+ p, ul {
        margin-top: 20px;
    }
    .conditions__info{
        margin-top: 20px;
        max-width: 450px;
    }
    .cctv__inner {
        grid-template-columns: repeat(4, 1fr);
    } 

    .important__container{
        flex-direction: column-reverse;
        justify-content: center;
        padding: 60px 0;
    }
    .cooperation__container{
        flex-direction: column;
    }

    .address__inner{
        flex-direction: column;
    }
   
 }

@media (max-width: 767.98px) { 
    .title{
        font-size: 28px;
line-height: 140%;
    }
    .header__contact{
        flex-direction: column;
    }

    .header__item{
        padding: 30px 0 0;
        text-align: center;
    }
    .header__item:not(:first-child){
        margin: 20px 0 0;
    }
    .header__item::before{
        top: 0;
        right: 0;
        margin: 0 auto;
    }
    .header__btn{
        margin: 30px 0 0;

    }
    .header__item--location {
        max-width: 150px;
    }

    .hero__inner{
        flex-direction: column;
    }

    .hero__list{
        flex-direction: column; 
        align-items: baseline; 
    }

    .hero__item:not(:first-child) {
        margin-left: 0;
        margin-top: 20px;
    }

    .hero__content{
        margin: 0;
    }
    .room__list { 
        justify-content: center;
    }
    .room__item {
        width: 85%;
    }
    .room__item:not(:first-child){
        margin-top: 40px;
    }
    .gallery__navigation { 
        left: 53%;
    }
    .conditions__title {
        margin-bottom: 50px;
    }
    .conditions__container {
        background:  #fff;
    } 
    .conditions__row {
        padding: 15px 0 30px; 
    }
    .conditions__caption{
        font-size: 18px;
    }
    .conditions__row--img{
        padding-top: 220px;
    }
    .conditions__row--img::after {
       z-index: 1;
        bottom: auto;
        height: 190px;
        left: 0;
        margin: 0 auto;
        width: 100%;
    }
    .cctv__inner {
        grid-template-columns: repeat(5, 1fr);
    }
    .cctv__text{
        font-size: 16px;
    }
    .cctv__link{
        width: 70px;
        height: 70px;
         
    }

    .cctv__link::before{
        font-size: 20px;
    }
    .cctv__link::after{
        width: 40px;
        height: 33px;
        bottom: -6px;
    }
    .about__inner{
        flex-direction: column;
    }
    .about__title,
    .about__text{
        min-height: auto;
        margin-bottom: 30px;
    }
    .about__right{
        margin: 0;
    }
    .about__subtitle{
        margin-bottom: 40px;
    }
    .about__caption{
        margin-top: 40px;
        margin-bottom: 30px;
    }
    .about__list {
        justify-content: center;
    }
    .about__item{
        padding-left: 60px;
        width: 100%;
        max-width: 500px;
    }
    .about__item:not(:first-child) {
        margin-top: 20px;
    }
    .important__container{
        padding: 30px 0;
    }
    .important__content{
        padding: 0 15px;
    }
    .fear__title{
        margin-bottom: 30px;
    } 
    .accordion__trigger{
        font-size: 16px;
line-height: 140%;
    }
    .accordion__content{
        font-size: 14px;
line-height: 140%;
    }
    .address__content{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }
    .address__text{
        font-weight: 400;
font-size: 18px;
line-height: 140%;
margin-bottom: 20px;
    }
    .address__btn{
        font-size: 16px;
        text-align: inherit;
    }
    .address__map { 
        margin-bottom: 30px;
    }
    .address__items{
        flex-direction: column;
    }
  }

@media (max-width: 575.98px) { 
    .title{
        font-size: 20px;
line-height: 140%;
    }
    .hero__img{
        margin-bottom: 50px;
    }
    .hero__img img {
        width: auto;
        height: auto;
    }

    .hero__title {  
        font-size: 25px;
line-height: 140%;
    }

    .hero__text{
        font-size: 20px;
line-height: 150%;
    }
    .room__item {
        width: 100%;
    }
    .room__caption{
        margin-bottom: 13px;
    }
    .room__content div {
        width: 100%;  
    }
    .room__content div:not(:first-child) { 
        text-align: left;
    }  
    .room__content div:not(:nth-child(-n+2)) {
        margin-top: 0;
    }

    .room__item  .room__content .room__name{
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .gallery .swiper{
        display: flex;
        flex-direction: column-reverse;
    }
    .gallery .swiper-slide  { 
        width: 75%;
        height: 100%;
    }
    .gallery .swiper-slide img { 
        height: 530px;
    }
    .gallery .swiper-slide-next{
        position: relative;  

    }

    .gallery .swiper-slide-next::after{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;  

        background: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
    }

    .gallery__navigation{  
        position: static;
        align-self: flex-end;
        margin-bottom: 30px;
    }
    .gallery__btn{
        display: none;
        
    }
    .conditions__title {
        margin-bottom: 20px;
    } 
    .conditions__caption{
       font-weight: 400;
    }
    .cctv__inner {
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
    }
    .cooperation__list {
        width: auto;
    }
    .cooperation__item{
        width: 100%;
        height: auto;
        border: 0;
        justify-content: flex-start;
        padding: 0 0 0 85px;
        font-weight: 500;
font-size: 20px;
line-height: 150%; 
text-align: left;

    }
    .cooperation__item:not(:last-child){
        margin-bottom: 45px;
    }
    .cooperation__item::before{
        width: 60px;
        height: 60px;
        margin: 0;
    }
    .cooperation__text{
        font-size: 16px;
line-height: 140%;
font-weight: 400;
    }
    .cooperation__subtitle{
        font-weight: 400;
font-size: 18px;
line-height: 140%;
    }
  }









